@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~notyf/src/notyf";

$blue: #72d0eb;
$aka: #c53d43;
$aka-invert: #fff;

$primary: $aka;
$primary-invert: $aka-invert;

@import "~bulma/sass/utilities/derived-variables.sass";
@import "~bulma/bulma";

.column.is-primary {
  background: $primary;
  color: $primary-invert;

  .title,
  .subtitle {
    color: $primary-invert;
  }
}

.columns.is-fullheight {
  margin-bottom: 0;
  min-height: 100vh;
}
